.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background: linear-gradient(90deg, #e60e15, #fad0c4);
    border-bottom: 2px solid #e04a4a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}


.logo-app {
  width: 100px;
  height: 100px;
  padding: auto;
  margin: 10px;
}

.nav-items > ul {
  font-size: 18px;
  display: flex;
  list-style: none;
  padding: 20px;
  font-weight: normal;
}

.nav-items > ul > li {
  padding: 15px;
  font-size: 30px;
}

.nav-items  > ul > li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.search-bar{
  margin: 10px;
}

.filtered-restaurant {
  margin: 0px 30px;
  justify-content: center;
}

/* Container for all cards */
.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
    justify-content: center;
    padding: 10px;
}

/* Individual card */
.restaurant-card {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;


    font-size: medium;
}

.restaurant-card:hover {
    cursor: pointer;
     box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Image inside each card */
.restaurant-img {
    width: 100%;
    height: 160px;
    object-fit: cover; /* Makes sure image fills area without distortion */
    border-radius: 4px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background: linear-gradient(90deg, #ff9a9e, #fad0c4);
    border-bottom: 2px solid #e04a4a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.footer-links {
  display: flex;
  gap: 20px; /* this gives space between the list items */
  list-style: none; /* optional: removes bullet points */
  padding: 10px;
}
